* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: snow;
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: teal;
  opacity: .5;
  margin-bottom: 1.375em;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
p,
a {
  font-family: 'Raleway', sans-serif;
  color: teal;
  opacity: .7;
  font-size: middle;
}
p { margin: 1.375rem 0; }
